<!DOCTYPE html>
<html>

<head>
  <title>Spark code box</title>
  {{> styles}}
</head>

<body>
  {{> header}}

  <div class="main">
    <div class="container">
      {{{body}}}
    </div>
  </div>

  {{> scripts}}
</body>
</html>